.trivia {
  font-family: "Inter-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.trivia__card {
  color: white;
  background-color: grey;
  border-radius: 25px;
  border: 2px solid black;
  padding: 50px 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.trivia__info {
  max-width: 400px;
}
.trivia__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trivia__number {
  font-size: clamp(12px, 4vw, 20px);
  line-height: clamp(18px, 6vw, 30px);
  padding-left: 25px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 50%;
  height: 50px;
  margin: 0px 10px 0px 0px;
  align-content: center;
}
.trivia__name {
  text-transform: capitalize;
}
.trivia__background {
  background-color: black;
}
.trivia__big-spacing {
  margin-bottom: 12px;
}
.trivia__small-spacing {
  margin-bottom: 5px;
  padding: 10px 25px 10px 25px;
}
/* .trivia__footer {
} */
.trivia__pokemon-sprite {
  width: 30%;
}
