@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf");
}

.app {
  font-family: "Inter", "Arial", sans-serif;
}
.app__background {
  background: url("../../images/pokemon-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.app__section {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .app__section {
    width: calc(100% - 40px);
  }
}
