@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf");
}

.app {
  font-family: "Inter", "Arial", sans-serif;
  background: linear-gradient(0deg, #d0d0d0, #c70003);
}
.app__section {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Inter-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: clamp(26px, 8vw, 40px);
  line-height: clamp(32px, 10vw, 50px);
  margin: 0;
  margin: 0px 0px 20px;
  color: black;
}
.paragraph {
  max-width: 800px;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(16px, 4.5vw, 20px);
  line-height: clamp(24px, 6.5vw, 30px);
  margin: 0px 0px 20px;
  color: black;
  text-align: center;
}
.image {
  width: clamp(40px, 6vw, 50px);
}
@media screen and (max-width: 1200px) {
  .app__section {
    width: calc(100% - 40px);
  }
}

::-webkit-scrollbar {
  width: 1.2em;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
  border: 0.2em solid hsl(0, 0%, 0%);
}

::-webkit-scrollbar-thumb {
  background: hsl(17, 88%, 44%);
  border: 0.2em solid hsl(0, 0%, 0%);
}
