@font-face {
  font-family: "Inter-Bold";
  src: url("../../fonts/Inter-SemiBold.ttf");
}
.about {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 40px auto 40px;
}
/* .about__content{} */
.about__image {
  width: 280px;
  height: 280px;
  border-radius: 20%;
  margin-right: 30px;
}

.about__row-first {
  display: flex;
}
.about__row-second {
  display: flex;
  flex-direction: row-reverse;
}
.about__row-content {
  display: flex;
  flex-direction: column;
}
.about__row-first .about__row-content {
  text-align: right;
}
.about__row-second .about__row-content {
  text-align: left;
}
.about__title {
  font-family: "Inter-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  margin: 0px 0px 20px;
}
.about__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 640px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about__image {
    margin: 0 0 40px 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}
