@font-face {
  font-family: "Inter-Bold";
  src: url("../../fonts/Inter-SemiBold.ttf");
}

.header {
  margin-top: 30px;
  border-bottom: 1px solid;
  border-bottom-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0 10px 0;
}
.header__container {
  display: flex;
  align-items: center;
}
/* .header__image-icon {
} */
/* Unique color */
.header__image-question path {
  fill: black;
  cursor: pointer;
  transition: fill 0.4s ease-in-out;
}
.header__image-question:hover path {
  cursor: pointer;
  fill: white;
  stroke: white;
}
.header__image-question:hover ellipse {
  cursor: pointer;
  fill: black;
}
.header__image-menu {
  transition: stroke 0.8s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}
.header__image-menu:hover rect {
  cursor: pointer;
  stroke: grey;
}
.image__inner-color:hover path {
  cursor: pointer;
  fill: red;
}
.header__logo-name {
  margin: 0 0 0 5px;
  font-family: "Inter-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(20px, 4vw, 25px);
  line-height: clamp(20px, 6vw, 40px);
  color: ghostwhite;
  transition: 0.2s ease-in-out;
}
.header__logo-name:hover {
  color: black;
  cursor: pointer;
}
.header__nav {
}
