@font-face {
  font-family: "Inter-Bold";
  src: url("../../fonts/Inter-SemiBold.ttf");
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 80px;
  background-color: #f5f6f5;
  background: linear-gradient(90deg, #cf9f9c, #a6342f);
}
.results__header {
  margin: 0 0 30px 0;
}
.card__container {
  opacity: 90%;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: grab;
  background: white no-repeat url("../../images/pokeball-background.svg") left
    50%;
  background-size: contain;
}
.card__name {
  font-family: "Inter-Bold", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(25px, 6vw, 35px);
  line-height: clamp(30px, 6vw, 50px);
  margin: 50px 0 25px 0;
  text-transform: capitalize;
}

.card__type-container {
  display: flex;
  flex-direction: row;
}
.card__images {
  display: flex;
}
